<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="description" content="Center for information on how to repair, paint, or service a vehicle. Also, center for puchasing vehicles at an affordable price.">
<meta name="keywords" content="Center for information on how to repair, paint, or service a vehicle. Also, center for puchasing vehicles at an affordable price.">
<meta name="author" content="elemis">
<title>Diect Automotive Collision Center</title>
<link rel="shortcut icon" href="@@webRoot/assets/img/favicon.png">
<link rel="stylesheet" href="@@webRoot/assets/css/plugins.css">
<link rel="stylesheet" href="@@webRoot/assets/css/style.css">